<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet"> 
    <title>mercado liebre</title>
</head>
<body>
    <header>

        <div class="top-header">
            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">

            <div class="buscador">
                <div class="input">Buscar productos, marcas</div>
                <div class="lupa"><i class="fa fa-search"></i></div>
            </div>
                        
            <p><i class="fa-solid fa-hand-holding-dollar"></i>compra en coutas y sin tarjeta de credito</p>
        </div>

        <nav>
            <ul>

                <li>
                    <a href="#">Ofertas</a>

                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                    
                </li>
                <li>
                    <a href="#">Vender</a>
                    
                </li>
                <li>
                    <a href="#">Ayuda</a>
                    
                </li>

            </ul>
            <ul>

                <li>
                    <a href="/register">Creá tu cuenta</a>
                    
                </li>
                <li>
                    <a href="#">Ingresá</a>
                    
                </li>
                <li>
                    <a href="#">Mis compras</a>
                    
                </li>

            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>


    </header>
    <section>
        <img class="banner-img" src="/img/img-home-banner.jpg" alt="banner">

    </section>

    <main>
        <section>
            <h3>basado en tu ultima visita</h3>

            <div class="productos">
                <article>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="prod">
                    <div class="info-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">55.775</p>
                        <p class="descuento">25% off</p>
                        <h4 class="desc-prod">cafetera moulinex</h4>
                    </div>    
                </article>

                <article>
                    <img src="/img/img-macbook-pro-2019.jpg" alt="prod">
                    <div class="info-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">255.775</p>
                        <p class="descuento">25% off</p>
                        <h4 class="desc-prod">macbook pro</h4>
                    </div>
                </article>

                <article>
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="prod">
                    <div class="info-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">155.775</p>
                        <p class="descuento">25% off</p>
                        <h4 class="desc-prod">samsung galaxy s10</h4>
                    </div>    
                </article>

                <article>
                    <img src="/img/img-tv-samsung-smart.jpg" alt="prod">
                    <div class="info-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">355.775</p>
                        <p class="descuento">25% off</p>
                        <h4 class="desc-prod">tv samsung smart</h4>
                    </div>
                </article>
            </div>

        </section>

        <section>
            <h3>ofertas</h3>
            <div class="productos">
                <article>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="prod">
                    <div class="info-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">55.775</p>
                        <p class="descuento">25% off</p>
                        <h4 class="desc-prod">cafetera moulinex</h4>
                    </div>    
                </article>

                <article>
                    <img src="/img/img-macbook-pro-2019.jpg" alt="prod">
                    <div class="info-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">255.775</p>
                        <p class="descuento">25% off</p>
                        <h4 class="desc-prod">macbook pro</h4>
                    </div>
                </article>

                <article>
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="prod">
                    <div class="info-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">155.775</p>
                        <p class="descuento">25% off</p>
                        <h4 class="desc-prod">samsung galaxy s10</h4>
                    </div>
                </article>

                <article>
                    <img src="/img/img-tv-samsung-smart.jpg" alt="prod">
                    <div class="info-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">355.775</p>
                        <p class="descuento">25% off</p>
                        <h4 class="desc-prod">tv samsung smart</h4>
                    </div>
                </article>
            </div>
            
        </section>

    </main>

    <footer>

    <!--falta el footer-->

    </footer>
    
</body>
</html>